<!-- <p>view-furniture works!</p> -->
<div class="row col-12 ">
<mat-card class="example-card" *ngFor="let product of allFurniture">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.title}}</mat-card-title>   
     </mat-card-header>
      <mat-card-subtitle>{{product.desc}}</mat-card-subtitle>

    <!-- <h1>{{product.title}}</h1> -->
    <mat-card-content >
      <!-- <p>{{product.desc}}</p> -->
    </mat-card-content>
    <mat-card-content>
        <p>Amount:    {{product.price}}</p>
      </mat-card-content>
      <mat-card-actions >
        <!-- <a routerLink="/edit/{{product.id}}" (click)="update()"><mat-icon class="mat-icon3">edit</mat-icon></a> -->
        <a *ngIf="ls.isLoggedin" routerLink="/delete/{{product.title}}/"><mat-icon class="mat-icon2">delete</mat-icon></a>

      </mat-card-actions>
    <mat-card-actions>
      <button *ngIf="ls.isUserLogged" routerLink="cart" (click)="addToCart()" mat-button>ADD TO CART</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>


